<html>
<head>
    <title>찜 목록</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
    <script type="text/javascript">
        $(function (){
            $.ajax({
                type: "get",
                url: "wish",
                success: function (result) {
                    console.log(result);
                    let item = "<table align='center' border='1'><tr><th>상품 번호</th><th>멤버 번호</th><th>날짜</th><th>상품 이름</th><th>상품 가격</th><th>상품 설명</th><th>방문 수</th><th>메인 이미지</th></tr>";

                    $.each(result, function(idx, dto) {
                        item += '<tr>';
                        item += '<td>' + dto.goodsNum + '</td>';
                        item += '<td>' + dto.memberNum + '</td>';
                        item += '<td>' + new Date(dto.wishDate).toLocaleString() + '</td>';
                        item += '<td>' + dto.goodsDTO.goodsName + '</td>';
                        item += '<td>' + dto.goodsDTO.goodsPrice + '</td>';
                        item += '<td>' + dto.goodsDTO.goodsContents + '</td>';
                        item += '<td>' + dto.goodsDTO.visitCount + '</td>';
                        item += '<td><img src="' + dto.goodsDTO.goodsMainImage + '" alt="상품 이미지" width="100"/></td>';
                        item += '</tr>';
                    });
                    item += '</table>';

                    $("#wishTable").html(item);
                },
                error: function () {
                    alert("서버에러");
                }
            });
        });
    </script>
</head>
<body>
<h3>찜 목록</h3>
<div id="wishTable">
</div>
</body>
</html>
