<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="memberWrite">회원등록</a><br />
<!--앞에 member은 그대로 뒤 주소만 바뀜-->
<!--앞에 /를 붙이면 절대 주소 앞에 / 가 없으면 상대주소-->
    회원수 : [[${list.size()}]]<br />
    <table border="1" width="600">
        <form action="memberList" method="get">
            <tr>
                <td colspan="4">
                    회원 검색 :
                    <input type="search" name="searchWord" size="60" th:value="${searchWord}"/>
                    <input type="submit" value="검색" />
                </td>
            </tr>
        </form>
        <form action="membersDelete" method="post" id="frm">
            <tr>
                <td><input type="checkbox" id="checkBoxs" /></td>
                <td>번호</td>
                <td>이름</td>
                <td>아이디</td>
                <td>등록일</td>
                <td><button type="submit">선택 삭제</button></td>
            </tr>
        </form>
        <tr th:each = "dto : ${list}">
            <td>[[${dto.memberNum}]]</td>
            <td>[[${dto.memberName}]]</td>
            <td>[[${dto.memberId}]]</td>
            <td>[[${#dates.format(dto.memberRegist,'yyyy-MM-dd')}]]</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th colspan="6">
                <span th:if="${page == 1}">
                    [이전]
                </span>

                <span th:if="${page} > 1">
                    <a th:href="|memberList?page=${page - 1}&searchWord=${searchWord}|">
                        [이전]
                    </a>
                </span>

                <th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
                    [<a th:href="|memberList?page=${i}&searchWord=${searchWord}|">[[${i}]]</a>]
                </th:block>

                <span th:if="${page < maxPage}">
                    <a th:href="|memberList?page=${page + 1}&searchWord=${searchWord}|">
                        [다음]
                    </a>
                </span>

                <span th:if="${page>=maxPage}">
                    [다음]
                </span>
            </th>
        </tr>
    </table>
</body>
</html>