<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>goodsIpgo.jsp</title>
</head>
<body>
<a href="/">홈</a>
<ul>
    <li><a href="goodsIpgoList">상품 입고 현황</a></li>
</ul>
<form action="../ipgoRegist" method="post">
    <table border = "1" width ="600" align="center">

        <input type="hidden" name="goodsNum" th:value="${goodsNum}"/>

        <tr><th>입고일</th>
            <td><input type="date" name= "ipgoDate" /></td></tr>
        <tr><th>입고 수량</th>
            <td><input type="number" name= "ipgoQty" /></td></tr>

        <tr>
            <th>제조일</th>
            <td><input type="date" name= "madeDate" /></td>
        </tr>
        <tr>
            <th>가격</th>
            <td><input type="number" name= "ipgoPrice" /></td>
        </tr>
        <input type="submit" id="btn" value="입고등록" />
    </table>
</form>
</body>
</html>
