<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springbootmvcshopping.mapper.GoodsIpgoMapper">
    <sql id="IpgoColumn">
        GOODS_NUM, IPGO_NUM, IPGO_QTY, IPGO_DATE, MADE_DATE, IPGO_PRICE, EMP_NUM
    </sql>

    <!-- 생성자 이용 map 사용-->
    <resultMap id="goodsIpgoResultMap" type="goodsIpgoDTO">
        <constructor>
            <idArg column="ipgo_num" javaType="string" />
            <idArg column="goods_num" javaType="string" />
            <arg column="ipgo_qty" javaType="integer" />
            <arg column="ipgo_date" javaType="java.util.Date" />
            <arg column="made_date" javaType="java.sql.Timestamp" />
            <arg column="ipgo_price" javaType="integer" />
            <arg column="emp_num" javaType="string" />
        </constructor>
    </resultMap>

    <select id="goodsIpgoSelectAll" resultMap="goodsIpgoResultMap">
        select <include refid="IpgoColumn"></include> from goods_ipgo
    </select>

    <insert id="goodsIpgoInsert" parameterType="GoodsIpgoDTO">
        insert into goods_ipgo (<include refid="IpgoColumn"></include>) values (#{goodsNum}, #{ipgoNum}, #{ipgoQty}, #{ipgoDate}, #{madeDate}, #{ipgoPrice}, #{empNum})
    </insert>

    <select id="goodsIpgoSelectOne" parameterType="string">
        select <include refid="IpgoColumn"></include> from goods_ipgo where IPGO_NUM = #{ipgoNum}
    </select>

    <update id="goodsIpgoUpdate" parameterType="GoodsIpgoDTO">
        update goods_ipgo set Ipgo_qty = #{ipgoQty}, ipgo_date = #{ipgoDate}, made_date = #{madeDate}, ipgo_price = #{ipgoPrice}, emp_num = #{empNum} where IPGO_NUM = #{ipgoNum}
    </update>

    <delete id="goodsIpgoDelete" parameterType="string">
        delete from goods_ipgo where IPGO_NUM = #{ipgoNum}
    </delete>
</mapper>