<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springbootmvcshopping.mapper.GoodsIpgoMapper">
    <sql id="IpgoColumn">
        GOODS_NUM, IPGO_NUM, IPGO_QTY, IPGO_DATE, MADE_DATE, IPGO_PRICE, EMP_NUM
    </sql>

    <select id="goodsIpgoSelectAll" resultType="GoodsIpgoDTO">
        select <include refid="IpgoColumn"></include> from goods_ipgo
    </select>

    <insert id="goodsIpgoInsert" parameterType="GoodsIpgoDTO">
        insert into goods_ipgo (<include refid="IpgoColumn"></include>) values (#{goodsNum}, #{ipgoNum}, #{ipgoQty}, #{ipgoDate}, #{madeDate}, #{ipgoPrice}, #{empNum})
    </insert>

    <select id="goodsIpgoSelectOne" parameterType="string">
        select <include refid="IpgoColumn"></include> from goods_ipgo where IPGO_NUM = #{ipgoNum}
    </select>

    <update id="goodsIpgoUpdate" parameterType="GoodsIpgoDTO">
        update goods_ipgo set Ipgo_qty = #{ipgoQty}, ipgo_date = #{ipgoDate}, made_date = #{madeDate}, ipgo_price = #{ipgoPrice}, emp_num = #{empNum} where IPGO_NUM = #{ipgoNum}
    </update>
</mapper>