<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springbootmvcshopping.mapper.GoodsMapper">
    <sql id="goodsColumn">
        GOODS_NUM, GOODS_NAME, GOODS_PRICE, GOODS_CONTENTS, EMP_NUM, VISIT_COUNT, GOOBS_MAIN_IMAGE, GOODS_MAIN_STORE_IMAGE, GOODS_DETAIL_IMAGE, GOODS_DETAIL_STORE_IMAGE, GOODS_REGIST_DATE, UPDATE_EMP_NUM, GOODS_UPDATE_DATE
    </sql>

    <sql id="insertGoodsColumn">
        GOODS_NUM, GOODS_NAME, GOODS_PRICE, GOODS_CONTENTS, EMP_NUM, VISIT_COUNT, GOODS_REGIST_DATE, GOODS_UPDATE_DATE
    </sql>

    <sql id="autoNum">
        select nvl(goods_num,0)+1
    </sql>

    <select id="goodsSelectAll" resultType="GoodsDTO">
        select <include refid="goodsColumn"></include> from goods
    </select>

    <insert id="goodsInsert" parameterType="GoodsDTO">
        insert into goods (<include refid="insertGoodsColumn"></include>) values (#{goodsNum}, #{goodsName}, #{goodsPrice}, #{goodsContents}, #{empNum},0,sysdate,sysdate)
    </insert>

    <select id="goodsSelectOne" parameterType="string" resultType="GoodsDTO">
        select <include refid="goodsColumn"></include> from goods where goods_num = #{goodsNum}
    </select>

    <update id="goodsUpdate" parameterType="GoodsDTO">
        update goods set goods_name = #{goodsName}, goods_price = #{goodsPrice}, goods_Contents = #{goodsContents}, visit_count = #{visitCount}, UPDATE_EMP_NUM = #{updateEmpNum}, EMP_NUM = #{empNum}, GOODS_UPDATE_DATE = sysdate where goods_num = #{goodsNum}
    </update>

    <delete id="goodsDelete" parameterType="string">
        delete from goods where goods_num = #{goodsNum}
    </delete>
</mapper>