<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springbootmvcshopping.mapper.MemberInfoMapper">

    <sql id="memberBaseColumns">
        MEMBER_NUM as memberNum, MEMBER_NAME as memberName, MEMBER_ID as memberId, MEMBER_PW as memberPw, MEMBER_ADDR as memberAddr,
        MEMBER_ADDR_DETAIL as memberAddrDetail, MEMBER_POST as memberPost, MEMBER_REGIST as memeberRegist, MEMBER_GENDER as memberGender,
        MEMBER_PHONE1 as memberPhone1, MEMBER_PHONE2 as memberPhone2, MEMBER_EMAIL as memberEmail, MEMBER_BIRTH as memberBirth
    </sql>
    
    <select id="memberSelectOne" parameterType="string" resultType="memberDTO">
        select <include refid="memberBaseColumns"></include> from members where member_id = #{memberId}
    </select>

    <update id="memberUpdate" parameterType="memberDTO">
        update members set member_name = #{memberName}, member_addr = #{memberAddr}, member_addr_detail = #{memberAddrDetail},
                           member_post = #{memberPost}, member_phone1 = #{memberPhone1}, member_phone2 = #{memberPhone2}, member_email = #{memberEmail},
                           member_birth = #{memberBirth} where member_id = #{memberId}
    </update>

    <update id="memberPwUpdate">
        update members set member_pw = #{_newPw} where member_id = #{_memberId}
    </update>

</mapper>