<html>
<head>
    <title>memberMyPage</title>
</head>
<body>
<ul>
    <li><a href="/">홈</a></li>
    <li><a href="memberMyPage">내 정보 보기</a></li>
    <li><a href="memberPwModify">비밀번호 변경</a></li>
    <li><a href="memberUpdate">내 정보 수정</a></li>
    <li><a href="memberDrop">회원 탈퇴</a></li>
</ul>
회원이름 : [[${memberCommand.memberName}]] <br />
회원생일 : [[${memberCommand.memberBirth}]] <br/>
회원주소 : [[${memberCommand.memberAddr}]] <br />
회원연락처 : [[${memberCommand.memberPhone1}]] <br />
회원등록일 : [[${#dates.format(memberCommand.memberRegist, 'yyyy-MM-dd')}]]
<!--성별 :-->
<!--<span th:if="${#strings.trim(memberCommand.memberGender) == 'M'}">남자</span>-->
<!--        <span th:if="${#strings.trim(memberCommnad.memberGender) == 'F'}">여자</span>-->
</body>
</html>
